<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xpd.dao.BumenDao">
	<insert id="addBumen" parameterType="com.xpd.bean.Bumen">
		insert into bumen (bmid,bmname) values 
		 (#{bmid},#{bmname})
	</insert>
	<update id="updateBumen" parameterType="com.xpd.bean.Bumen">
		update bumen set bmname=#{bmname} where bmid=#{bmid}
	</update>
	<delete id="deleteBumen" parameterType="com.xpd.bean.Bumen">
		delete from bumen where bmid=#{bmid}
	</delete>
	<select id="showBumen" parameterType="java.util.Map" resultType="com.xpd.bean.Bumen">
		select * from bumen limit ${start},${limit}
	</select>
	<select id="getBumen" parameterType="java.util.Map" resultType="com.xpd.bean.Bumen">
		select * from bumen where bmid like '%${checktext}%' 
		 or bmname like '%${checktext}%' 
		 limit ${start},${limit}
	</select>
	<select id="getBumenCount" parameterType="java.util.Map" resultType="int">
		select count(*) from bumen where bmid like '%${checktext}%' 
		 or bmname like '%${checktext}%'
	</select>
	
	<insert id="bumen_perm2" parameterType="map">
		insert into bumen_permission (bmid,perm_id) values 
		 <foreach collection="perms" item="item" index="index" separator=",">
		 (#{item.bmid},#{item.perm})
		 </foreach>
	</insert>
	
</mapper>